html,body,ol,li,ul,img,h1,h2,h3,h4,p,input{
				padding:0;
				margin: 0;
			}
			img{
				border: none;
			}
			a{
				text-decoration: none;
			}
			ol li,ul li{
				list-style: none;
			}
			b{
				font-weight: normal;
			}
			.main{
				width: 1000px;
				margin: 0 auto;
			}
			.header{
				height:100px;
				width: 100%;
			}
			.form{
				float: right;
				
				width: 345px;
				border: solid #6C6C6C 1px;
				box-shadow: 1px 1px 1px 1px;
			}
			.form h2{
				margin: 20px;
			}
			.span-login{
				padding-left:20px;
				font-size: 14px;
				color: #C5C5C5;
			}
			.span-login{
				margin-left: 30px;
			}
			.form a{
				color:#e81a62 ;
				font-size: 14px;
			}
			.form span{
				font-size: 14px;
				color: #000;
				padding-left: 5px;
				
			}
			.inp1{
				margin-left: 20px;
			}
			.inp2{
				margin-left:10px;
			}
			.text-box{
			
				margin-top: 25px;
				height: 40px;
				width: 345px;

			}
			.text-box .text{
				margin-left: 20px;
				height: 30px;
				width: 260px;				
			}
			.text2{
				margin-left: 20px;
				width: 100px;
				height: 30px;
			}
 			.number{
 				line-height: 30px;
 				width: 80px;
 				display: inline-block;
 				background: #CCCCCC;
 				text-align: center;
 				margin-left:20px ;
 				cursor: pointer;
 			}
 			.check{
 				margin-left: 20px;
 				margin-top: 10px;
 			}
			.but{
				height: 30px;
				width: 260px;
				margin-left: 20px;
				margin-top: 20px;
				background: #E81A62;
				border: none;
			}
			.span1{
				height: 30px;
				display: block;				
				margin:10px 0  20px 10px;
			}
			.box2{
				display: none;
			}
			 .form .spanbox{
				font-size: 12px;
				display: inline-block;
				width: 50px;
				height: 16px;
			}
