html,body,ol,li,ul,img,h1,h2,h3,h4,p,input{
				padding:0;
				margin: 0;
			}
			img{
				border: none;
			}
			a{
				text-decoration: none;
			}
			ol li,ul li{
				list-style: none;
			}
			b{
				font-weight: normal;
			}
			.main{
				width: 1000px;
				margin: 0 auto;
			}
			.header{
				height:100px;
				width: 100%;
			}
			.form{
				float: right;
				height: 450px;
				width: 300px;
				border: solid #6C6C6C 1px;
				box-shadow: 1px 1px 1px 1px;
			}
			.form h2{
				margin: 10px;
			}
			.span-login{
				padding-left:20px;
				font-size: 14px;
				color: #C5C5C5;
			}
			.form a{
				color:#e81a62 ;
				font-size: 14px;
			}
			.text-box{
				margin-top: 5px;
				height: 60px;
				width: 250px;
			}
			.text1{
				height: 30px;
				width: 250px;	
				margin-left: 10px;			
			}
			.text2{
				height: 30px;
				width: 130px;
				margin-left: 10px;	
			}
			.pass1{
				height: 30px;
				width: 250px;
				margin-left: 10px;	
			}
			.pass2{
				height: 30px;
				width: 250px;
				margin-left: 10px;	
			}
			#btn{
				height: 40px;
				width: 270px;
				background:#e81a62 ;
				border: none;
				margin-left: 10px;
			}
			.remind{
				font-size: 12px;
				color: #CCCCCC;
				padding-left:  10px;
				display: none;
				
			}
			.remind2{
				font-size: 12px;
				color: #CCCCCC;
				padding-left:  10px;
				display: none;
			}
			.number{
				background: #CCCCCC;
				text-align: center;
				line-height: 30px;
				cursor: pointer;
				display: inline-block;
				height: 30px;
				width: 100px;
				float: right;
			}
